@import "modern-normalize";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

:root {
  line-height: 1.5;
}

h1, h2, h3, h4, h5, figure, p, ol, ul {
  margin: 0;
}

ol[role="list"], ul[role="list"] {
  list-style: none;
  padding-inline: 0;
}

img {
  display: block;
  max-inline-size: 100%;
}

body{
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
    margin: 0px;
    display: flex;
    position: relative;
    background-color: #f9fafb;
    }

.left-container {
    background-image: url(img/lightSide.jpg);
    background-position: center;
    background-size: cover; 
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.logo{
    background-color: rgb(0 0 0 / 30%);
    width: 100%;
    height: 9.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    color: white;
    text-shadow:  3px 3px 5px black;
    margin: calc(200rem/16);
    
}

.left-footer{
    color: white;
    text-shadow: 
    2px 2px 4px black, 1px 1px 4px black, 3px 2px 4px black, 0px 3px 4px black, 0 0 5px black;
    font-size: 1.2rem;
}

.right-container{
    display: flex;
    flex-direction: column;
    padding-top: 6rem;
    margin-top: 2.5rem;
}

header{
    display: flex;
    flex-direction: column;
    margin-left: 2.5rem;
    margin-bottom: 3.5rem;
    margin-right: 10rem;
    min-width: 15rem;
}

header h2:nth-of-type(2) {
    margin-top: 1rem; 
}

.theme {
    position: absolute;
    top: 1px;
    right: 10px;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.form-container {
    padding: 1.5rem 0;
    background-color: white;
    box-shadow: 0px 5px 7px 1px #C4C4C4;

}

.form-container p {

    font-size: 1.5rem;
    font-weight: 550;
    line-height: 2rem;
    margin-left: 2.5rem;
}

form{
    max-width: 50%;
    margin-top: 2.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 2.5rem;
}

.credentials{
    display: flex;
    flex-direction: column;
    margin-right: 1rem;
    margin-bottom: 1rem;
}

label{
    margin-bottom: 0.3rem;
    color: rgb(107, 107, 107);
    font-weight: 550;
    letter-spacing: 0.1rem;
    font-size: 0.9rem;
}

input{
    width: 240px;
    margin: 0;
    font-family: inherit;
    font-size: 100%;
    transition: border-color 0.2s, box-shadow 0.2s;
}

input + span {
    position: relative;
  }
  
  input:required + span::after {
    font-size: 0.7rem;
    position: absolute;
    content: "required";
    color: white;
    background-color: black;
    padding: 3px 15px;
    top: -53px;
    right: 0px;
  }

  input:valid {
    border-color:  #388E3C; /* Colore quando l'input è valido */
    box-shadow: 0 4px 6px rgba(70, 177, 75, 0.2);
    outline: none;
}

input:invalid {
    border-color: #D32F2F; /* Colore quando l'input è non valido */
    box-shadow: 0 4px 6px rgba(211, 47, 47, 0.3);
    outline: none;
}

.login{
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    margin-left: 2.5rem;
}

.login p{
    margin-top: 24px;
}

.submit{    
    width: 240px;
    height: 54px;
    padding: 1rem 3rem;
    border-radius: 12px;
    background-color: #214254;
    color: white;
    font-size: 1.2rem;
    box-shadow: 0px 2px 1px 0px #C4C4C4;
    border: none;
    transition: background-color 0.3s, transform 0.2s, box-shadow 0.2s;
    cursor: pointer;
}

.submit:hover {
    background-color: #1B3A4B; /* Colore più scuro per hover */
}

.submit:active {
    transform: scale(0.95);
    box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.2);
}

.right-footer{
    color: white;
    background-color: black;
    text-align: center;
    margin-top: auto;
}



