@import "modern-normalize";

:root {
  line-height: 1.5;
}

h1, h2, h3, h4, h5, figure, p, ol, ul {
  margin: 0;
}

ol[role="list"], ul[role="list"] {
  list-style: none;
  padding-inline: 0;
}

img {
  display: block;
  max-inline-size: 100%;
}

body{
    height: 100vh;
    margin: 0px;
    display: flex;
    }

.left-container {
    background-image: url(img/lightSide.jpg);
    background-position: center;
    background-size: cover; 
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.logo{
    background-color: rgb(0 0 0 / 30%);
    width: 100%;
    height: 9.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    color: white;
    text-shadow:  3px 3px 5px black;
    margin: calc(200rem/16);
    
}

.left-footer{
    color: white;
    text-shadow:  2px 3px 5px black;
    font-size: 1.2rem;
}

.right-container{
    display: flex;
    flex-direction: column;
    padding: 6rem 0;
    margin-top: 2.5rem;

}

header{
    margin-left: 2.5rem;
    margin-bottom: 3.5rem;
    margin-right: 10rem;
    min-width: 15rem;
}

.form-container {
    padding: 1.5rem 0;
    background-color: white;
    box-shadow: 0px 5px 7px 1px #C4C4C4;

}

.form-container p {

    font-size: 1.5rem;
    font-weight: 550;
    line-height: 2rem;
    margin-left: 2.5rem;
}

form{
    flex-wrap: wrap;
    max-width: calc(480px + 10%);
    margin-top: 2.5rem;
    display: flex;
    flex-wrap: wrap;
    margin-left: 2.5rem;
}

.credentials{
    display: flex;
    flex-direction: column;
    margin-right: 1rem;
    margin-bottom: 1rem;
}

label{
    margin-bottom: 0.3rem;
    color: rgb(107, 107, 107);
    font-weight: 550;
    letter-spacing: 0.1rem;
    font-size: 0.9rem;
}

input{
    width: 240px;
    margin: 0;
    font-family: inherit;
    font-size: 100%;
}

.login{
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    margin-left: 2.5rem;
}

.login p{
    margin-top: 24px;
}

.submit{    
    width: 240px;
    height: 54px;
    padding: 1rem 3rem;
    border-radius: 12px;
    background-color: #214254;
    color: white;
    font-size: 1.2rem;
    box-shadow: 0px 2px 1px 0px #C4C4C4;
    border: none;
}

.right-footer{
    color: white;
    background-color: black;
    margin-top: calc(92rem/16);
    text-align: center;
}
